html
  head
    title mi primera pagina web
  body
    h1!=hola
    - var arreglo=[1,2,3,4,5];
    - for (var i= arreglo.length -1; i>=0; i--)
      p.
       hola haz click en #[a(href="https://codigofacilito.com/cursos/nodejs") este link]
