extends ./layout.jade
block contenido
  h1 bienvenido a Fotofacilito
  a(href="/login" class="btn btn-primary btn-lg" role="button") iniciar secion
  a(href="/signup" class="btn btn-primary btn-lg" role="button") Registro
 