extends ./layout.jade
block contenido
  form(action="/sessions",method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", name="email", placeholder="email@email.com", class="form-control")
    div
      label(for="password") Contraseña
      input(type="password", name="password",placeholder="password", class="form-control")
    div
      input(type="submit" value="Iniciar sesión" class="btn btn-info")
